html {
    /*helps with keeping footer at bottom of page "typer of sticky footer"*/
    height: 100%;
}

body {
    min-height: 100%;
    /*Set padding-bottom to height of footer*/
    padding-bottom: 88px;
    position: relative;
}

.row {
    /*overwrite boostrap default of -15px*/
   margin-right: 0;
}

/*---------------------------------------------------------------------------------*/

/*Navbar Styles*/
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-brand > span > a {
    color: white;
}

.navbar-brand > span > a:hover {
    color: #e0bc75;
    text-decoration: none;
}

.nav.navbar-nav.navbar-right > li > a:hover {
    color: #e0bc75;
}

/*---------------------------------------------------------------------------------*/

/*Mission Page Style*/
.jumbotron {
    text-align: center;
    background-blend-mode: lighten;
    padding-top: 20%;
    padding-bottom: 20%;
    background-size: cover;
    margin: 0;
}

.jumbotron.missionJumbo {
    text-align: center;
    background-image: url(images/worldMap.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    background-blend-mode: normal;
}

#dropdownMission {
    padding: 15px 30px;
    font-size: 28px;
    border-radius: 0;
    width: 100%;
    background-color: black;
    border: none;
    color: white;
}

.dropdown-menu {
    border-radius: 0;
    background-color: black;
}

.dropdown-menu > li > a {
    padding: 10px 50px;
    font-size: 25px;
    color: white;
}

.dropdown {
    opacity: 0.6;
    font-family: 'HelveticaNeue';
}

.dropdown > ul {
    width: 100%;
}

/*---------------------------------------------------------------------------------*/

/*Index Page Style*/
#fullScreenDiv {
    width: 100%;
    min-height: 100%;
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    transition: .2s opacity;
}

#splitDiv {
    width: 100%;
}

#video {
    width: 100%;
    min-width: 1400px;
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: .1s opacity;
}

/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
    #video {
        display: block;
    }

    #videosubstitute {
        display: none
    }
}

/* The container for our text and stuff */
#messageBox {
    position: absolute;
    min-width: 1300px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #e0bc75;
}

#msg {
    bottom: 0;
    left: 0;
    float: left;
    width: 100%;
    font-size: 110pt;
    font-family: 'Informal Roman';
    font-weight: 100;
}

#msg2 {
    bottom: 0;
    left: 0;
    float: left;
    width: 100%;
    font-size: 40pt;
    font-family: 'Comic Sans MS';
    font-weight: 300;
    font-style: italic;
    color: white;
}

#buttonDiv {
    position: relative;
    padding-left: 20px;
}

.button {
    padding: 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #e0bc75;
    border: none;
    border-radius: 15px;
}

h3.luxury {
    font-size: 75px;
    font-style: italic;
    font-weight: 300;
}

a.gold-button {
    position: relative;
    border: 5px solid #e0bc75;
    color: #e0bc75;
    margin-top: 20px;
    padding: 9px 18px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "brandon-grotesque",sans-serif;
    text-align: center;
    float: left;
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    text-align: center;
}

a.gold-button:hover {
    text-decoration: none;
    color: #b68f42;
}

#bottomStuff {
    min-width: 1400px
}
