@{
    ViewBag.Title = "About Us";
}

<!--Temple jumbotron with picture quote inside-->
<div class="jumbotron" style="background-image: url(../../Content/images/slcTempleTall.jpg); background-blend-mode: normal; margin: 0;">
    <div class="col-md-4 col-md-offset-1">
        <img src="~/Content/images/josephQuoteBlack.jpg" style="opacity: 0.7; width: 60%" />
    </div>
</div>

<!--Stylized text for about us-->
<div class="container-fluid" style="background-image: linear-gradient(to bottom, lightgray, white)">
    <div class="row">
        <h2 style="text-align: center; font-family: 'Kunstler Script'; font-size: 90px; color: #00bcd4">About Us</h2>
    </div>
    <div class="row" style="padding: 12px">
        <div class="col-md-4 col-md-offset-4" style="text-align: center">
            <p style="font-size: 20px; font-family: 'Lucida Calligraphy'"><span style="font-size: 40px">&ldquo;</span>If any of you lacks</p>
        </div>
        <div class="col-md-4 col-md-offset-6">
            <p style="font-size: 80px; font-family: 'Edwardian Script ITC'; color: lightgray; line-height: 0">Wisdom</p>
        </div>
    </div>
</div>

<!--About paragraph regarding history of company-->
<div class="row" style="padding: 30px; font-family: 'Lucida Bright';  line-height: 30px; font-size: 18px">
    <div class="col-md-4 col-md-offset-2" style="border-right: 2px solid black">
        <p>
            Dunk 'Em was founded by four returned missionaries who wanted to bring knowledge to prospective
            servants of the Lord! They founded this company with the simple goal of helping young men and women learn
            about serving missions all over the globe and discover answers to questions they might have.
            The four founding members are Josh Harris, Bryce LeFevre, Michael Anderson and Josh Simpson who all met as juniors
            in the Management Information Systems Program at the Marriott School of Business at Brigham Young University in
            Provo, UT. Greg Anderson, Professor of the Business Programming class where these four met, said about them that
            they were "The greatest group of students he has ever taught" (<span style="font-style: italic">citation not found</span>).
        </p>
    </div>
    <div class="col-md-4">
        <p>
            One thing these four returned missionaries had in common was a love of their missionary service and the areas where they served.
            They decided that they wanted to share that excitement for their missions with others and in 2017 founded "Dunk 'Em."
            Dunk 'Em takes the combined knowledge of thousands of returned missionaries who answer questions posted by curious visitors,
            future missionaries or the worried mothers of those future missionaries... With great pride and 3 weeks of company history, these
            innovators continue to push with their original goal of bringing mission wisdom to those who seek!
        </p>
    </div>
</div>

<!--Global reach jumbotron with map background-->
<div class="jumbotron" style="position: relative; background-image: url(../../Content/images/dottedWorldMap.jpg); background-blend-mode: normal; font-family: Courier New, Courier, monospace">
    <div class="col-md-2" style="position: absolute; left: 150px; top: 250px; text-align: center; color: white; font-size: 1vw">
        <div class="container vertical-align" style="background-color: black; color: #00bcd4; opacity: 0.7">
            <p>There are currently missionaries serving in over 160 countries!</p>
        </div>
    </div>
    <div class="col-md-2" style="position: absolute;  right: 150px; top: 130px; text-align: center; color: white; font-size: 1vw">
        <div class="container vertical-align" style="background-color: black; opacity: 0.7">
            <p>We answer questions from missions all over the world</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-6" style="text-align: center; font-family: Stencil; color: white; font-size: 3vw">
            <div class="container" style="background-color: black; opacity: 0.7">
                <p>Global Reach</p>
            </div>
        </div>
    </div>
    <div class="col-md-2" style="position: absolute; left: 300px; bottom: 100px; text-align: center; color: white; font-size: 1vw">
        <div class="container" style="background-color: black; opacity: 0.7">
            <p>Our information helps missionaries understand the work in a variety of cultures and religions</p>
        </div>
    </div>
</div>
